body {
  background-color: antiquewhite;
  background-image: url('../images/pexels-miguel-á-padriñán-255379.jpg');
  background-size: cover;
}

ul {
  background-color: bisque;
  border: blue 6px groove;
  border-radius: 5px;
}

ol {
  background-color: crimson;
  border: cadetblue 10px inset;
  box-shadow: grey 5px 5px 10px;
}

.shoppingList {
  color: brown;
  font-weight: bold;
}

#pizzaList {
  color: magenta;
}

/* Makes all unvisited links purple with no text decoration (i.e. not underlined)*/
a:link {
  color: purple;
  text-decoration: none;
}

/* Makes all visited links gray and with a line through */
a:visited {
  color: orange;
  text-decoration: line-through;
}

/* Makes links purple and bold when hovered over */
a:hover {
  color: red;
  font-size: xx-large;
  font-weight: bold;
}
